.product-card {
    height: 200px;
    width: 230px;
    border-radius: 25px;
    background-color: #a4c2f4;
    border: 2px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 46px;
}
.product-card .delete-button-wrap {
    width: 100%;
    display: flex;
    justify-content: right;
}
.product-card .delete-button-wrap .delete-button {
    position: relative;
    top: 3px;
    right: 10px;
}
.product-card .product-card-img {
    height: 65px;
    width: 180px;
    border-radius: 8px;
    background-color: #b4a7d6;
    border: 2px solid black;
    margin-bottom: 15px;
}
.product-card .product-name{
    margin-bottom: 13px;
}
.product-card .product-price {
    margin-bottom: 15px;
}

.product-card button {
    height: 28px;
    width: 152px;
    padding: 0;
    margin: auto;
    font-size: 12px;
    border: 2px solid black;
    border-radius: 5px;
    background-color: #b6d7a8;
}