.main-container{
    height: 100%;
    max-width: 960px;
    margin: 150px auto 0;
}



.form-cart-box{
    width: 100%;
    display: flex;
    margin-bottom: 20px;
}

.box-part {
    width: calc(100% / 3);
    display: flex;
}

.form-part {
    justify-content: center;
}

.cart-part {
    justify-content: right;
}










