.main-container{
    height: 100%;
    max-width: 960px;
    margin: 150px auto 0;
}



.form-cart-box{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-bottom: 20px;
}

.box-part {
    display: flex;
}

.form-part {
    justify-content: center;
}

.cart-part {
    justify-content: right;
}

@media (max-width: 720px){
    .empty-part {
        display: none;
    }
    .form-cart-box {
        grid-template-columns: repeat(2, 1fr);
    }
    .cart-part {
        justify-content: center;
    }
}

@media (max-width: 495px){

    .form-cart-box {
        grid-template-columns: repeat(1, 1fr);
    }
    .box-part {
        justify-content: center;
    }
    .form-part {
        margin-bottom: 20px;
    }

}










